@charset "utf-8";

body {
    background-color: #e6f6ff;
}

main {
    background-color: white;
    width: 320px;
    margin: 16px auto 0px;
    padding: 16px;
    text-align: center;
}

p {
    margin: 0;
    padding: 32px 0;
    background-color: #ddd;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    all: unset;
    background-color: #08c;
    color: white;
    width: 100%;
    margin-top: 16px;
    padding: 16px 0;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: .6;
}

button:active {
    opacity: .4;
}

.inactive {
    background-color: #ddd;
    color: #444;
    cursor: default;
}

.inactive:hover{
    opacity: 1;
}

/* button:disabled {
    background-color: #ddd;
    color: #444;
    cursor: not-allowed;
}

button:disabled:hover{
    opacity: 1;
} */